.wrapper{
    width:60%;
    height:1000px;
    background-color:#929292;
    margin:0 auto;
    text-align: center;
}
.inlagg{
    width:80%;
    border:5px solid black;
    background-color:white;
    margin:0 auto;
}
.header{
    background-color:rgba(0,0,0,0.7);
}
.content{
    margin:0 auto;
    overflow:scroll;
    height:300px;
    width:100%;
}
.content pre{
    float:left;
}
.commentfield{
    width:100%;
    height:5%;
    background-color:#929292;
    border: 3px solid grey;
}
.comment{
    float:left;
    width:80%;
    height:60%;
    border:3px solid black;
    background-color:#d3d3d3;
}
.commentfield button{
    float:right;
}