*{
    margin:0;
    padding:0;
}
body{
    background-image:url("../bilder/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper{
    width:80%;
    margin:0 auto;
    font-size:1vw;
    color:white;
    text-align: center;
}
h1{
    margin-top:10%;
    font-size:4vw;
}
a, .submit{
    transition:all 0.3s;
    text-decoration: none;
    background-color:rgba(189,195,199,0.8);
    color:white;
    font-weight: bold;
}
.submit{
    transition:all 0.3s;
    border:none;
    padding:5px;
}
.submit:hover{
    cursor:pointer;
}
.header{
    transition:all 0.3s;
    width:50%;
    margin:0 auto;
    background-color:rgba(189,195,199,0.2);
}
tr{
    background-color:rgba(189,195,199,0.7);
}
tr:hover, .header:hover, .commentfield:hover{
    background-color:rgba(189,195,199,0.5);
}
.content:hover{
    background-color:rgba(189,195,199,0.8);
}
table{
    transition:all 0.3s;
    margin-top:50px;
    text-align: center;
    width:100%;
}
tr{
    transition:all 0.3s;
}
table td{
    width:20%;
    padding:10px;
}
.state{
    width:4%;
}
.open{
    height:30px;
    width:100%;
    margin:0 auto;
    background-color:green;
}
.closed{
    height:30px;
    width:100%;
    margin:0 auto;
    background-color:red;
}
.content, .commentfield{
    transition:all 0.3s;
    margin:0 auto;
    margin-top:100px;
    text-align: center;
    width:100%;
    border:1px solid rgba(189,195,199,1);
    background-color:rgba(189,195,199,0.3);
}
.content{
    height:500px;
}
.content pre{
    width:100%;
    height:100%;
    float:left;
    text-align: left;
    overflow:scroll;
}
.comment{
    margin-top:50px;
    padding-bottom:20px;
    background-color:rgba(189,195,199,0.6);
    text-align: left;
}
.commenttitle{
    font-size: 2vw;
}
.projectcreator input, .projectcreator textarea{
    float:right;
}
.projectcreator h3{
    text-align: right;
}
.projectcreator h2{
    margin-top:25px;
}
#code{
    width:100%;
    height:100%;
    background-color:rgba(189,195,199,0.3);
}
#rslt{
    display:none;
}